.main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #428bca;
  padding-bottom: 20px;
}

.main header h3 {
  color: #428bca;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
}
header button {
  outline: none;
  border: none;
  color: #fff;
  background-color: #428bca;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  box-shadow: var(--shadow);
  display: none;
}
header .close {
  background-color: red;
  display: block;
}
/* style formulaire d'ajout des projets */
.addProjets {
  padding: 30px;
  background: linear-gradient(
    to right,
    var(--primaryColor),
    var(--secondaryColor)
  );

  border-radius: 10px;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.addProjets.active {
  display: none;
}
.addProjets h3 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.addProjets form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.cours .input-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.cours .input-label label {
  color: #fff;
}
.cours .input-label input::placeholder {
  color: #428bca;
  font-size: 13px;
}
.cours .input-label input {
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  outline: none;
  color: #428bca;
  padding-right: 40px;
  font-size: 16px;
  box-shadow: var(--shadow);
}
.cours input.submit {
  padding: 10px;
  background: linear-gradient(
    to left,
    var(--primaryColor),
    var(--secondaryColor)
  );
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  box-shadow: var(--shadow);
  font-size: 17px;
}
#desc {
  border-radius: 10px;
  resize: none;
  border: none;
  outline: none;
  padding: 15px;
  color: #428bca;
  height: 100px;
  box-shadow: var(--shadow);
}

.role-photo {
  display: flex;
  gap: 10px;
}
#photo {
  height: 38px;
}
#categorie {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #428bca;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border: none;
}

/* error message style */
#error {
  text-align: center;
  background-color: red;
  font-size: 12px;
  padding: 6px;
  color: #fff;
  border-radius: 5px;
}
#succes {
  text-align: center;
  background-color: rgb(12, 93, 5);
  font-size: 12px;
  padding: 6px;
  color: #fff;
  border-radius: 5px;
}
/* container projects style */
.containerProjets {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.boxProjets {
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--primaryColor),
    var(--secondaryColor)
  );
}
.boxProjets img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.boxProjets .text {
  padding: 10px 20px;
}
.boxProjets .text h3 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5px;
}
.boxProjets .text h4,
.boxProjets .text h5 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
  color: #ddd;
}

.boxProjets .text .btn {
  background-color: #016e01;
  margin: 10px 0px;
  padding: 6px 15px;
  color: #fff;
  display: inline-block;
  box-shadow: var(--shadow);
  font-size: 13px;
  display: inline-flex;
  gap: 5px;
  align-items: center;
}
